.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

\.idea/workspace\.xml

addressbook/log-20181023T180902\.txt

addressbook/log-20181023T180930\.txt

addressbook/log-20181023T181151\.txt

addressbook/log-20181023T181227\.txt

*.log
